<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/pnews.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" align =center>
        <div class="container">
          <h1>Welcome to PRACHI NEWS PORTAL</h1>
          <a class="btn btn-primary btn-lg" href="/movie" role="button">Movie news</a>&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="#" role="button">Sports news</a>&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="#" role="button">Politics news</a>
        </div>
      </div>
    </div>
  </body>
</html>
