<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/pnews.css' %}">
  </head>
  <body>
    <h1>Movie news information</h1><hr>
    <ul>
      <li>{{news1}}</li>
      <li>{{news2}}</li>
      <li>{{news3}}</li>
      <li>{{news4}}</li>
    </ul>
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <img src="{%static 'images/darshan.jpg'%}" alt="">
    <!img src="{%static 'images/darshan.jpg'%}" alt="">
    <!img src="{%static 'images/darshan.jpg'%}" alt="">

  </body>
</html>
